apiVersion: apps/v1
kind: Deployment
metadata:
  name: practice5-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: practice5
  template:
    metadata:
      labels:
        app: practice5
    spec:
      containers:
      - name: practice5-container
        image: DOCKER_IMAGE_NAME:BUILD_NUMBER
        ports:
        - containerPort: 808